* {
    -fx-primary: #FFFFFF;
    -fx-complementary: #000000;
    -fx-secondary: #FFFFFF;
    -fx-primarytext: #000000;
    -fx-complementarytext: #FFFFFF;
    -fx-unfocusedtext: #888888;
    -fx-red: #F44336;
    -fx-mapText: #FFFFFF;
    -fx-interactioncolor: #FFFFFF;
    -fx-listCell: #00FFFF;
    -fx-scrollBorder: #D9D9D9;
    -fx-tableheader: #000000;
    -fx-tableviewborder: #F3F3F3;
    -fx-tableerror: #D34336;

}

/*******************************************************************************
 *                                                                             *
 * Icons and text                                                              *
 *                                                                             *
 ******************************************************************************/

.root{
    -fx-background-color: -fx-primary;
}

.header {
    -fx-background-color: -fx-complementary;
    -fx-border-color: transparent transparent -fx-unfocusedtext transparent;
}

.drawer-background{
    -fx-background-color: -fx-primary;
}

.jfx-hamburger StackPane {
    -fx-background-color: -fx-primary;
}

.interaction-area {
    -fx-background-color: -fx-interactioncolor;
}

.header-label{
    -fx-text-fill: -fx-complementarytext;
    -fx-font-family: Roboto;
    -fx-font-size: 24pt;
}

.unfocused-header-label{
    -fx-text-fill: -fx-unfocusedtext;
    -fx-font-family: Roboto;
    -fx-font-size: 18pt;
}

.big-label{
    -fx-text-fill: -fx-primaryText;
    -fx-font-family: Roboto;
    -fx-font-size: 24pt;
}

.small-label{
    -fx-text-fill: -fx-primaryText;
    -fx-font-family: Roboto;
    -fx-font-size: 12pt;
}

.map-label{
    -fx-text-fill: -fx-mapText;
    -fx-font-family: Roboto;
    -fx-font-size: 13pt;
}

.glyph-icon {
    -fx-fill: -fx-primary;
}

.dest-icon{
    -fx-fill: -fx-complementary;
}

.request-glyph {
    -fx-fill: -fx-complementary;
}

.text-field {
    -fx-font-family: Roboto;
    -fx-text-fill: -fx-primaryText;
    -fx-font-size: 14pt;
    -jfx-focus-color: -fx-complementary;
    -jfx-unfocus-color: -fx-unfocusedtext;
    -fx-prompt-text-fill: -fx-unfocusedtext;
}

.header-text-field {
    -fx-font-family: Roboto;
    -fx-text-fill: -fx-complementarytext;
    -fx-font-size: 14pt;
    -jfx-focus-color: -fx-secondary;
    -jfx-unfocus-color: -fx-unfocusedtext;
    -fx-prompt-text-fill: -fx-unfocusedtext;
    -jfx-label-float: true;
}

.wrong-credentials{
    -jfx-unfocus-color: -fx-red;
    -jfx-focus-color: -fx-red;
}

.jfx-combo-box{
    -fx-font-family: Roboto;
    -fx-font-size: 15pt;
    -fx-prompt-text-fill: -fx-unfocusedtext;
    -jfx-focus-color: -fx-complementary;
    -jfx-unfocus-color: -fx-unfocusedtext;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: -fx-unfocusedtext;
}

/*******************************************************************************
 *                                                                             *
 * Text Area                                                                   *
 *                                                                             *
 ******************************************************************************/

.jfx-text-area {
    -fx-font-family: Roboto;
    -jfx-focus-color: -fx-complementary;
    -jfx-unfocus-color: -fx-complementary;
    -fx-padding: 0.333333em 0 0 0 ;
    -fx-font-size: 16pt;
}

.jfx-text-area > .input-focused-line {
    -fx-background-color: -jfx-focus-color;
    -fx-pref-height: 2px;
}

.jfx-text-area,
.jfx-text-area:focused {
    -fx-prompt-text-fill: -fx-complementary;
}

.jfx-text-area,
.jfx-text-area .scroll-pane,
.jfx-text-area:focused,
.jfx-text-area:focused .scroll-pane{
    -fx-background-color: -fx-scrollBorder;
}

.jfx-text-area .content,
.jfx-text-area:focused .content{
    -fx-background-color: -fx-scrollBorder;
    -fx-padding: 0 0 0 0;
}

/*******************************************************************************
 *                                                                             *
 * Buttons                                                                     *
 *                                                                             *
 ******************************************************************************/

.button{
    -fx-background-color: -fx-complementary;
    -fx-font-family: Roboto;
    -fx-text-fill: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
}

.exit-button{
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}

.button:hover{
    -fx-text-fill: -fx-complementary;
    -fx-border-color: -fx-complementary;
    -fx-background-color: -fx-primary;
    -fx-border-radius: 5px;
}

.button:hover .glyph-icon{
    -fx-fill: -fx-complementary;
}

.glyph-button{
    -fx-background-color: -fx-complementary;
    -fx-font-size: 12pt;
    -fx-background-radius: 7px;
    -fx-content-display: top;
    -fx-graphic-text-gap: 12pt;
    -fx-border-width: 0px;
}

.glyph-button:hover .glyph-icon{
    -fx-fill: -fx-complementary;
}

.node-button{
    -fx-background-color: -fx-complementary;
    -fx-font-size: 12pt;
    -fx-background-radius: 7px;
    -fx-content-display: top;
    -fx-graphic-text-gap: 4pt;
    -fx-border-width: 0px;
}

.node-button:hover .glyph-icon{
    -fx-fill: -fx-complementary;
}

.confirm-button {
    -fx-background-color: -fx-complementary;
    -fx-background-radius: 8px;
    -fx-border-color: transparent;
    -fx-font-size: 16pt;
}

.path-button {
    -fx-background-color: -fx-complementary;
    -fx-background-radius: 8px;
    -fx-border-color: transparent;
    -fx-font-size: 32pt;
}

.confirm-button:hover .glyph-icon {
    -fx-fill: -fx-complementary;
}

.floor-map-button {
    -fx-background-color: -fx-complementary;
    -fx-background-radius: 8px;
    -fx-border-color: transparent;
    -fx-font-size: 15pt;
}

.floor-map-button:hover .glyph-icon {
    -fx-fill: -fx-primary;
}

.request-toggle-node {
    -fx-font-family: Roboto;
    -fx-background-color: -fx-complementary;
    -fx-text-fill: -fx-complementarytext;
    -fx-background-radius: 5px;
    -fx-font-size: 16pt;
    -fx-content-display: top;
    -fx-graphic-text-gap: 12px;
    -fx-border-width: 3px;
    -fx-border-radius: 7px;
}

.request-toggle-node .glyph-icon{
    -fx-fill: -fx-complementarytext;
}

.request-toggle-node:hover{
    -fx-text-fill: -fx-complementary;
    -fx-border-color: -fx-complementary;
    -fx-background-color: -fx-secondary;
}

.request-toggle-node:hover .glyph-icon{
    -fx-fill: -fx-complementary;
}

.request-toggle-node:selected{
    -fx-text-fill: -fx-complementary;
    -fx-border-color: -fx-complementary;
    -fx-background-color: -fx-secondary;
}

.request-toggle-node:selected .glyph-icon{
    -fx-fill: -fx-complementary;
}

.accessiblity-toggle-node {
    -fx-content-display: graphic_only;
}

.accessiblity-toggle-node:hover .glyph-icon{
    -fx-fill: -fx-primary;
}

.accessiblity-toggle-node:selected .glyph-icon{
    -fx-fill: -fx-complementary;
}

.enum-toggle-node {
    -fx-font-family: Roboto;
    -fx-background-color: -fx-complementary;
    -fx-text-fill: -fx-complementarytext;
    -fx-background-radius: 7px;
    -fx-border-radius: 5px;
    -fx-font-size: 16pt;
    -fx-content-display: text_only;
}

.enum-toggle-node:hover{
    -fx-text-fill: -fx-complementary;
    -fx-border-color: -fx-complementary;
    -fx-background-color: -fx-primary;
    -fx-background-radius: 7px;
    -fx-border-radius: 5px;
    -fx-font-size: 16pt;
    -fx-content-display: text_only;
}

.enum-toggle-node:selected{
    -fx-text-fill: -fx-complementary;
    -fx-border-color: -fx-complementary;
    -fx-background-color: -fx-primary;
    -fx-background-radius: 7px;
    -fx-border-radius: 5px;
    -fx-font-size: 16pt;
    -fx-content-display: text_only;
}

.jfx-radio-button {
    -fx-font-family: Roboto;
    -fx-text-fill: -fx-primaryText;
    -fx-font-size: 16pt;
    -jfx-selected-color: -fx-secondary;
}

/*******************************************************************************
 *                                                                             *
 * List View                                                                   *
 *                                                                             *
 ******************************************************************************/

.list-view {
    -fx-background-color: -fx-primary;
    -fx-border-radius: 0px;
}

.list-view .list-cell {
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 13pt;
}

.list-view .list-cell:hover {
    -fx-background-color: -fx-listCell;
}

.list-view .list-cell:selected {
    -fx-background-color: -fx-listCell;
}

.list-view .label{
    -fx-text-fill: -fx-primarytext;
}

.list-view-requests .list-cell {
    -fx-background-color: -fx-primary;
    -fx-font-size: 24pt;
    -fx-border-radius: 0px;
}
/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: -fx-scrollBorder;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: -fx-unfocusedtext;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

/* Up- and Down-Button Padding */
.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 2 5 2;
}

/* Left- and Right-Button Padding */
.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 2 5 2 5;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-unfocusedtext;
}

/* Up Arrow */
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

/* Down Arrow */
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}

/* Right Arrow */
.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M0 428l0 -428l214 214l-214 214z";
}

/* Left Arrow */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M214 0l0 428l-214 -214l214 -214z";
}

/*******************************************************************************
 *                                                                             *
 * Calendar elements	                                                       *
 *                                                                             *
 ******************************************************************************/


.jfx-date-picker {
    -jfx-default-color: -fx-secondary;
}

.jfx-date-picker .arrow-button .jfx-svg-glyph {
    -fx-background-color: -fx-complementary;
}

.jfx-date-picker .jfx-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Clock elements	                                                           *
 *                                                                             *
 ******************************************************************************/

.jfx-time-picker {
    -jfx-default-color: -fx-secondary;
}

.jfx-time-picker .arrow-button .jfx-svg-glyph {
    -fx-background-color: -fx-complementary;
}

/*******************************************************************************
 *                                                                             *
 * Scroll Pane                                                                 *
 *                                                                             *
 ******************************************************************************/

.scroll-pane > .viewport {
    -fx-background-color: -fx-primary;
}

/*******************************************************************************
 *                                                                             *
 * Menu item                                                                   *
 *                                                                             *
 ******************************************************************************/

.menu-button {
    -fx-background-color: -fx-primary;
}

.menu-button .label {
    -fx-text-fill: -fx-primarytext;
}


.menu-item .label {
    -fx-text-fill: -fx-primarytext;
}

.menu-item:focused {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.menu-item:focused .label {
    -fx-text-fill: -fx-primarytext;
    -fx-text-fill: -fx-primary;
}

.context-menu {
    -fx-background-color: -fx-primary;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

/*******************************************************************************
 *                                                                             *
 * TabPane                                                                     *
 *                                                                             *
 ******************************************************************************/

.jfx-tab-pane .tab-header-background {
    -fx-background-color: -fx-complementary;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: -fx-complementary;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: -fx-secondary;
    -fx-stroke-width: 3pt;
}

/*******************************************************************************
 *                                                                             *
 * TableView                                                                   *
 *                                                                             *
 ******************************************************************************/
.table-view {
    -fx-table-color: #666666;
    -fx-table-rippler-color: #888888;
}

.table-view:focused {
    -fx-background-color: -fx-table-color, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    /*....*/
    -fx-padding: 1; /* 0.083333em; */
}

.table-view:focused .table-row-cell:selected{
    -fx-background-color: -fx-table-color;
    -fx-table-cell-border-color: -fx-table-color;
    -fx-text-fill: BLACK;
}

.table-view:focused .table-row-cell:selected .table-cell {
    -fx-text-fill: BLACK;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
}

.table-view .column-header {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: -fx-tableviewborder;
}

.table-view .column-header .label {
    -fx-text-fill: -fx-tableheader;
    -fx-padding: 16 0 16 0;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot {
    -fx-background-color: -fx-tableheader;
}

.table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: -fx-tableviewborder;
}

.table-view .table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 16 0 16 0;
    -fx-alignment: top-center;
}

.table-view .column-overlay {
    -fx-background-color: -fx-table-color;
}

.table-view .column-resize-line, .table-view .column-drag-header {
    -fx-background-color: -fx-table-rippler-color;
}


.table-row-cell > .disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.table-row-cell .jfx-text-field {
    -fx-focus-color: #666666;
}

.table-row-cell .jfx-text-field .error-label {
    -fx-text-fill: -fx-tableerror;
    -fx-font-size: 0.75em;
}

.table-row-cell .jfx-text-field .error-icon {
    -fx-fill: -fx-tableerror;
    -fx-font-size: 1.0em;
}

.table-view .menu-item:focused {
    -fx-background-color: -fx-table-color;

}

.table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}

.text-field-table-cell > .text-field {
    -fx-text-fill: black;

}