* {
    -fx-primary: #48577D;
    -fx-complementary: #43464C;
    -fx-secondary: #F5F5F5;
    -fx-primarytext: #F7FAFF;
    -fx-unfocusedtext: #9E9E9E;
    -fx-red: #F44336;
}

/*******************************************************************************
 *                                                                             *
 * Icons and text                                                              *
 *                                                                             *
 ******************************************************************************/

.root{
    -fx-background-color: -fx-primary;
}

.header {
    -fx-background-color: -fx-primary;
}

.big-label{
    -fx-text-fill: -fx-primaryText;
    -fx-font-family: Roboto;
    -fx-font-size: 24pt;
}

.small-label{
    -fx-font-size: 12pt;
}

.glyph-icon {
    -fx-fill: -fx-primaryText;
}

.button-glyph-icon {
    -fx-fill: -fx-primaryText;
    -glyph-size: 128px;
}

.text-field {
    -fx-font-family: Roboto;
    -fx-text-fill: -fx-primaryText;
    -fx-font-size: 14pt;
    -jfx-focus-color: -fx-secondary;
    -jfx-unfocus-color: -fx-unfocusedtext;
    -fx-prompt-text-fill: -fx-unfocusedtext;
}

.wrong-credentials{
    -jfx-unfocus-color: -fx-red;
    -jfx-focus-color: -fx-red;
}

.text-area {
    -fx-font-family: Roboto;
    -fx-border-color: -fx-unfocusedtext;
    -fx-text-fill: -fx-primaryText;
    -fx-font-size: 14pt;
}

/*******************************************************************************
 *                                                                             *
 * Buttons                                                                     *
 *                                                                             *
 ******************************************************************************/

.button{
    -fx-font-family: Roboto;
    -fx-text-fill: -fx-primaryText;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 5px;
}

.button:hover{
    -fx-text-fill: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
}

.button:hover .glyph-icon{
    -fx-fill: -fx-primary;
}

.confirm-button{
    -fx-font-size: 12pt;
}

.jfx-toggle-node {
    -fx-font-family: Roboto;
    -fx-text-fill: -fx-primaryText;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 5px;
    -fx-font-size: 16pt;
    -fx-content-display: top;
    -fx-graphic-text-gap: 12px;
}

.jfx-toggle-node:hover{
    -fx-text-fill: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
}

.jfx-toggle-node:hover .button-glyph-icon{
    -fx-fill: -fx-primary;
}

.jfx-toggle-node:selected{
    -fx-text-fill: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
}

.jfx-toggle-node:selected .button-glyph-icon{
    -fx-fill: -fx-primary;
}

.accessiblity-toggle-node {
    -fx-content-display: graphic_only;
}

.accessiblity-toggle-node:hover .glyph-icon{
    -fx-fill: -fx-primary;
}

.accessiblity-toggle-node:selected .glyph-icon{
    -fx-fill: -fx-primary;
}

.jfx-radio-button {
    -fx-font-family: Roboto;
    -fx-text-fill: -fx-primaryText;
    -fx-font-size: 10pt;
    -jfx-selected-color: -fx-secondary;
}

/*******************************************************************************
 *                                                                             *
 * List View                                                                   *
 *                                                                             *
 ******************************************************************************/

.list-view {
    -fx-background-color: -fx-primary;
    -fx-border-radius: 0px;
}

.list-view .list-cell {
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 13pt;
}

.list-view .list-cell:hover {
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-primarytext;
}

.list-view .list-cell:selected {
    -fx-background-color: #434343;
}

/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: -fx-primary;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: -fx-unfocusedtext;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

/* Up- and Down-Button Padding */
.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 2 5 2;
}

/* Left- and Right-Button Padding */
.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 2 5 2 5;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-unfocusedtext;
}

/* Up Arrow */
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

/* Down Arrow */
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}

/* Right Arrow */
.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M0 428l0 -428l214 214l-214 214z";
}

/* Left Arrow */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M214 0l0 428l-214 -214l214 -214z";
}

/*******************************************************************************
 *                                                                             *
 * Calendar elements	                                                       *
 *                                                                             *
 ******************************************************************************/


.jfx-date-picker {
    -jfx-default-color: -fx-secondary;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: -fx-primary;
}

.jfx-date-picker .date-picker-popup .calendar-grid .day-cell:focused {
    -fx-text-fill: -fx-primary;
}

/*******************************************************************************
 *                                                                             *
 * Clock elements	                                                           *
 *                                                                             *
 ******************************************************************************/


.jfx-time-picker {
    -jfx-default-color: -fx-secondary;
}

.jfx-time-picker > .month-year-pane {
    -fx-background-color: -fx-primary;
}

/*******************************************************************************
 *                                                                             *
 * List View                                                                   *
 *                                                                             *
 ******************************************************************************/

.scroll-pane > .viewport {
    -fx-background-color: -fx-primary;
}